{% extends 'main/base.html' %} {% block title %}Home Page{% endblock %}
{% block content %} {% for entry in entries %}
<div class="card mt-2">
  <div class="card-header"><strong>@{{ entry.author.username }}</strong></div>
  <div class="card-body d-flex flex-row justify-content-between">
    <div>
      <h5 class="card-title">{{entry.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">emotional score: {{entry.sentiment_score}}</h6>
      <p>{{entry.text}}</p>
    </div>
    <div>
      {% if user == entry.author or perms.main.delete_entry %}
      <form method="POST">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-danger"
          name="entry-id"
          value="{{entry.id}}"
        >
          Delete
        </button>
      </form>
      {% endif %}
      {% if user.is_staff %}
      <form method="entry">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-warning"
          name="user-id"
          value="{{entry.author.id}}"
        >
          Ban User
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  <div class="card-footer text-muted">{{entry.created_at}}</div>
</div>
{% empty %}
<p>No entries yet :(</p>
{% endfor %} {% endblock %}