<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualization</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <style>
        .zoom {
            transition: transform .07s;
        }

        .zoom:hover {
            transform: scale(1.09); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
    </style>
</head>
<body style="padding: 20px;">
<h1>Crazy vis</h1>
<div class="row mb-3">
    <div class="col-md-4 mt-4">
        <div class="card">
            <div class="card-header bg-black text-white">
                <h5 style="margin:0; text-align: center">{{today|date:"M, Y"}}</h5>
            </div>
            <div class="card-body">
                <h1 style="margin:0; text-align: center;font-weight: 700;font-size:77px;">{{today|date:"d"}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <div class="card">
            <div class="card-header bg-black text-white">
                <h5 style="margin:0; text-align: center">Notes Statistics</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 zoom">
                        <a class="text-decoration-none text-dark" href="/vis/notes">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h6>Notes</h6>
                                    <h5>{{ notes|length }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 zoom">
                        <a class="text-decoration-none text-dark" href="/vis/positives/">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h6>Positives</h6>
                                    <h5>{{ positives|length }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 zoom">
                        <a class="text-decoration-none text-dark" href="/vis">
                            <div class="card my-card shadow">
                                <div class="card-body text-center" style="margin: 13px;">
                                    <h5>Overall</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 zoom">
                        <a class="text-decoration-none text-dark" href="/vis/negatives/">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h6>Negatives</h6>
                                    <h5>{{ negatives|length }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header bg-black text-white">
        <h5 style="margin:0; text-align: center">Neutrals</h5>
    </div>
    <div class="card-body">
        Neutrals
    </div>
</div>
</body>
</html>