{% extends 'main/base.html' %} {% block title %}Visualization{% endblock %}
{% block content %}
<div style="padding: 20px;">
    <div class="row mb-3">
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5 style="margin:0; text-align: center">{{today|date:"M, Y"}}</h5>
                </div>
                <div class="card-body">
                    <h1 style="margin:0; text-align: center;font-weight: 700;font-size:77px;color: #3a373b">
                        {{today|date:"d"}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-4">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5 style="margin:0; text-align: center">Notes Statistics</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 zoom">
                            <a class="text-decoration-none text-dark" href="">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h6>Notes</h6>
                                        <h5>{{ notes|length }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 zoom">
                            <a class="text-decoration-none text-dark" href="">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h6>Positives</h6>
                                        <h5>{{ positives|length }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 zoom">
                            <a class="text-decoration-none text-dark" href="">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h6>Neutrals</h6>
                                        <h5>{{ neutrals|length }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 zoom">
                            <a class="text-decoration-none text-dark" href="">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h6>Negatives</h6>
                                        <h5>{{ negatives|length }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    {{pie_chart|safe}}
                    {% if not pie_chart %}
                    <p>Add your first entry</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    {{bar_chart|safe}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
